html {
    height: 100%
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #d5d5d5;
}

.dropdown {
    position: relative;
    display: inline-block;
    padding: 1rem;
    background-color: white;
}

.dropdown:hover {
    background-color: #ddf4ff;
}

.dropdown-content {
    display: none;
    position: absolute;
}

.dropdown-content ul {
    margin: 1rem;
    padding: 0;
    list-style: none;
}

.dropdown-content li {
    font-size: 1rem;
    padding: 1rem 2rem;
    background-color: #fff4d3;
}

.dropdown-content li:hover {
    background-color: #ffdde1;
    cursor: pointer;
}

.dropdown:hover span {
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}