body {
    margin: 0;
}

.cover {
    width: 100%;
}

.container, .black-cover {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.black-cover {
    background-color: black;
    padding: 6em;
}

.container .title {
    position: absolute;
    font-size: 16px;
	color: white;
}

.title {
    font-size: 16px;
	color: white;
    margin: 2em;
}